{% extends 'parts/base.twig' %}

{% block title %}
    Контакты
{% endblock %}

{% block content %}
    <h1>Контакты</h1>
    <table class="table">
        <tbody>
        <tr>
            <td>Адреса:</td>
            <td>
                <ul>
                    <li>111555, г. Москва, ул. Молостовых, д. 3Г</li>
                    <li>105568, г. Москва, ул. Чечулина, д.11, корп.1</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Телефон:</td>
            <td>
                <ul>
                    <li>8(495)374-70-75</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Адрес электронной почты:</td>
            <td>
                <ul>
                    <li>gbu-ivanovskoe@mail.ru</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Официальный сайт в сети Интернет:</td>
            <td>
                <ul>
                    <li><a href="http://www.gbu-ivanovskoe.ru">http://www.gbu-ivanovskoe.ru</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Режим работы:</td>
            <td>
                <ul>
                    <li>Понедельник: с 8 час. 00 мин. до 17 час. 00 мин.</li>
                    <li>Вторник: с 8 час. 00 мин. до 17 час. 00 мин.</li>
                    <li>Среда: с 8 час. 00 мин. до 17 час. 00 мин.</li>
                    <li>Четверг: с 8 час. 00 мин. до 17 час. 00 мин.</li>
                    <li>Пятница: с 8 час. 00 мин. до 15 час. 45 мин.</li>
                    <li>Суббота, воскресенье – выходной</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <tbody>
        <tr>
            <td>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.6719899953346!2d37.82840611592325!3d55.78156848056103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414acb22da4fe767%3A0xd80362c053a17ffd!2z0YPQuy4g0KfQtdGH0YPQu9C40L3QsCwgMTEg0LrQvtGA0L_Rg9GBIDEsINCc0L7RgdC60LLQsCwgMTA1NTY4!5e0!3m2!1sru!2sru!4v1638029650342!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <br>
                <a class="watch-more" href="https://www.google.com/maps/place/%D1%83%D0%BB.+%D0%A7%D0%B5%D1%87%D1%83%D0%BB%D0%B8%D0%BD%D0%B0,+11+%D0%BA%D0%BE%D1%80%D0%BF%D1%83%D1%81+1,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,+105568/@55.781569,37.830595,16z/data=!4m5!3m4!1s0x414acb22da4fe767:0xd80362c053a17ffd!8m2!3d55.7815685!4d37.8305948?hl=ru">Просмотреть увеличенную карту</a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}