{% extends 'parts/base.twig' %}

{% block title %}
    Список организаций
{% endblock %}

{% block content %}
    <h2 class="mb-3">Список организаций, поставляющих ресурсы</h2>
    {% include 'parts/_message.twig' %}
    <div id="organization-list">
        {% for organization in organizations %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ organization.Organization_name }}</h5>
                    <p class="card-text">
                        <b>Email:</b> {{ organization.Organization_email }}
                        <br>
                        <b>Телефон:</b> {{ organization.Telephone_number }}
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <a href="/view-organization/{{ organization.Resource_organization_id }}/" class="btn">Узнать больше</a>
                </div>
            </div>
        {% endfor %}
    </div>
{%  endblock %}