<footer class="footer ">
    <div class="d-flex justify-content-evenly">
        <div class="footer-text">
            <span>
                © 2021 Панин Илья Сергеевич
            </span>
        </div>
        <div class="footer-text">
            <span>
                <i class="icon-phone">+7 964 557 10 55</i>
            </span>
        </div>
        <div class="footer-text">
            <span>
                <i class="icon-envelope-open">ilya.panin311200@yandex.ru</i>
            </span>
        </div>
        <div class="footer-text">
            <a href="https://vk.com/ilusha_panin">
                <span>
                    <i class="icon-laptop">Моя соц. сеть</i>
                </span>
            </a>
        </div>
    </div>
</footer>
