<header class="sticky">
    <a href="/" class="header-logo">
        <img src="/static/media/nav/logo.png" alt="Герб Ивановского района" height="80" width="60">
    </a>
    <div class="header-link-block">
        <a class="header-link  btn-header" href="/">Новости</a>
        <span class="header-link">|</span>
        <a class="header-link  btn-header" href="/contacts/">Контакты</a>
    </div>
    <div class="person-page-link-block">
        {% if user is not null %}
            {% if user.Is_staff == 1 %}
                <span class="header-link">{{ user.Company_email }}</span>
            {% else %}
                <span class="header-link">{{ user.Last_name }} {{ user.First_name }}</span>
            {% endif %}
            <span class="header-link">|</span>
            <a class="header-link  btn-header" href="/logout/">Выход</a>
        {% else %}
            <span class="dropdown">
                <a class="header-link btn-header dropdown-toggle" id="loginOptions"
                   data-bs-toggle="dropdown" aria-expanded="false">Войти</a>
                <ul class="dropdown-menu" aria-labelledby="loginOptions">
                    <li><a class="dropdown-item" href="/login-consumer/">Физ. лицо</a></li>
                    <li><a class="dropdown-item" href="/login-entity/">Юр. лицо</a></li>
                </ul>
            </span>
            <span class="header-link">|</span>
            <span class="dropdown">
                <a class="header-link btn-header dropdown-toggle" id="registerOptions"
                   data-bs-toggle="dropdown" aria-expanded="false">Регистрация</a>
                <ul class="dropdown-menu" aria-labelledby="registerOptions">
                    <li><a class="dropdown-item" href="/register-consumer/">Физ. лицо</a></li>
                    <li><a class="dropdown-item" href="/register-entity/">Юр. лицо</a></li>
                </ul>
            </span>
        {% endif %}
    </div>

</header>
